<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='victory.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}" type="text/css" />
    <script src="{{ url_for('static', filename='victory.min.js') }}"></script>
</head>
<body>
    <style type="text/css">
        body {
            background-color: #F7F7F7;
        }
    </style>

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <div class="v-card v-bg-warning">
                <ul class="flashes">
                    {% for message in errors %}
                        <li>
                            <p>{{ message }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="card">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>